body {
  margin: 0;
  padding: 0;
  font-family: Arial;
  border-box: box-sizing; }

.container {
  max-width: 1100px;
  margin: auto; }

header {
  margin: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center; }
  header nav ul {
    margin: 0;
    padding: 0px;
    float: right; }
    header nav ul li {
      margin: 5px;
      display: inline;
      list-style: none; }
    header nav ul a {
      font-size: 0.8rem;
      padding: 5px 15px;
      color: black;
      text-decoration: none; }

#menu {
  border: none;
  background: #20c7e5;
  color: white;
  padding: 5px 20px;
  display: none; }

#close {
  display: none; }

.banner {
  color: white;
  background-image: url(../asset/back.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 25%;
  grid-auto-rows: minmax(400px, auto);
  grid-auto-columns: 50%;
  align-items: center; }
  .hero h1 {
    padding: 20px;
    font-size: 65px;
    padding-bottom: 10px;
    color: black;
    color: white; }
    .hero h1:hover {
      background: #20c7e5;
      color: white;
      transition: 0.3s ease-in-out; }
  .hero .joinUs {
    display: none; }
  .hero form {
    background: #20c7e5; }
    .hero form h3 {
      background-color: #1696ad;
      margin: 0;
      padding: 0.8rem; }
    .hero form p {
      margin: 1rem; }
    .hero form input {
      width: 95%;
      color: white;
      padding: 5px;
      border: none;
      background: none;
      border-bottom: 2px solid white; }
    .hero form label {
      font-size: 16px; }
    .hero form button {
      border: none;
      background: #000;
      color: white;
      padding: 5px 15px;
      cursor: pointer; }

footer {
  text-align: center; }

.links {
  text-align: center;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; }
  .links ul {
    margin: 0px;
    list-style: none; }
  .links a {
    text-decoration: none;
    margin: 1rem;
    color: black; }

.gamerReviews {
  margin: 1rem;
  max-width: 800px;
  margin: 50px auto; }
  .gamerReviews h2 {
    border-bottom: 3px solid #20c7e5;
    padding-bottom: 10px; }
  .gamerReviews .reviews {
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    align-items: center; }
    .gamerReviews .reviews p {
      margin: 5px; }
  .gamerReviews .img {
    background: #1696ad;
    width: 50px;
    height: 50px;
    border-radius: 50%; }
  .gamerReviews .bedge {
    font-size: 10px;
    border: 0.7px solid #20c7e5;
    border-radius: 2px;
    margin: 0px;
    padding: 2px;
    text-align: center; }

.subscribe {
  text-align: center;
  background: #20c7e5;
  display: grid;
  grid-auto-coloumn: minmax(500px, auto);
  color: white; }
  .subscribe .form {
    padding: 1rem; }
  .subscribe p {
    font-size: 16px; }
  .subscribe input {
    margin-top: 2rem;
    width: 95%;
    color: white;
    padding: 5px;
    border: none;
    background: none;
    border-bottom: 2px solid white; }
  .subscribe button {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: none;
    background: white;
    color: black;
    font-weight: bold;
    padding: 7px 20px;
    cursor: pointer; }

@media only screen and (max-width: 750px) {
  header {
    grid-template-columns: 20% 60% 20%; }
    header #close {
      border: none;
      background: #20c7e5;
      color: white;
      padding: 15px;
      cursor: pointer;
      display: block; }
    header nav #menuOpen {
      width: 200px;
      margin: 0;
      padding: 0;
      background: black;
      list-style: none;
      display: flex;
      position: absolute;
      flex-direction: column;
      text-align: center;
      transition: 0.3s ease-in-out;
      top: 0%;
      right: -200px; }
      header nav #menuOpen li {
        margin: 0;
        padding: 15px;
        transition: 0.3s ease-in-out; }
      header nav #menuOpen li:hover {
        background: #20c7e5;
        padding-left: 50px; }
      header nav #menuOpen a {
        width: 100%;
        color: white; }

  #menu {
    text-align: center;
    display: block;
    cursor: pointer; }

  .hero {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(100px, auto);
    align-items: center; }
    .hero h1 {
      margin: 10px;
      text-align: center;
      font-size: 35    px;
      padding-bottom: 10px; }
    .hero .joinUs {
      display: inline;
      margin: 20px;
      border: none;
      padding: 10px 30px;
      background-color: #1696ad;
      color: white; }
    .hero form {
      display: none; } }

/*# sourceMappingURL=style.css.map */
